{% extends "base.html" %}

{% block title %} {{ post.title }} {% endblock %}

{% block content %}
  <article>
    <h2>{{ post.title }}</h2>
    {% if post_main_image %}
    <img src="data:image/png;base64,{{ post_main_image }}" alt="{{ post.title }}">
    {% endif %}
    <p>{{ content|linebreaksbr }}</p>
    {% if post.publication_date %}
    <p><strong>Published:</strong> {{ post.publication_date|date:"d M Y H:i" }}</p>
    {% endif %}
  </article>
  <a href="{% url 'index' %}" class="back-link">←Home</a>
{% endblock %}
